# Pre-Processing FX Risk Premia Data

In [4]:
import pandas as pd
import numpy as np

# 1. Carry Returns Data

In [12]:
crs = pd.read_excel('FX Risk Premia Data.xlsx', 'CR', index_col=0, header=3).iloc[3:]
crs.sort_index(inplace=True)
crs = crs.astype(float)
crs.columns = ['EURUSD', 'GBPUSD', 'USDJPY', 'AUDUSD', 'NZDUSD', 'USDCAD', 'USDCHF', 'USDNOK', 'USDSEK']

crs.head(2)

,EURUSD,GBPUSD,USDJPY,AUDUSD,NZDUSD,USDCAD,USDCHF,USDNOK,USDSEK
2000-01-03 00:00:00,84.7247,98.6827,93.9995,107.4905,98.5725,94.6431,118.6139,102.6109,105.3244
2000-01-04 00:00:00,85.1545,98.6710,95.6610,106.9175,97.5191,95.0386,117.8988,103.3723,105.3880

In [15]:
rs = crs.apply(np.log).diff(1).fillna(0)

rs.head(2)

,EURUSD,GBPUSD,USDJPY,AUDUSD,NZDUSD,USDCAD,USDCHF,USDNOK,USDSEK
2000-01-03 00:00:00,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2000-01-04 00:00:00,0.00506,-0.000119,0.017521,-0.005345,-0.010744,0.00417,-0.006047,0.007393,0.000604

In [19]:
rs.to_csv('g10_daily_carry_rs_2000_2019.csv')

# 2. Graph Data

<font color=red> Make sure that the timing lines up